
@{
    ViewData["Title"] = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos {
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">
}


<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Inventario</li>
        <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action("Index", "Productos")">Productos</a></li>
    </ol>
</nav>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 bg-second-primary">
        <h6 class="m-0 font-weight-bold text-white">Lista de Productos</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                <button class="btn btn-success" id="btnNuevo"><i class="fas fa-plus-circle"></i> Nuevo Producto</button>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered" id="tbdata" cellspacing="0" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Imagen</th>
                            <th>Codigo Barra</th>
                            <th>Marca</th>
                            <th>Descripcion</th>
                            <th>Categoria</th>
                            <th>Stock</th>
                            <th>Precio</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                       @* <tr>
                            <td>1</td>
                            <td><img style="height:60px ;" src="https://images.unsplash.com/photo-1527864550417-7fd91fc51a46?w=300" class="rounded mx-auto d-block" /></td>
                            <td>12312312</td>
                            <td>Marca 1</td>
                            <td>Descripcion 1</td>
                            <td>Categoria 1</td>
                            <td>120</td>
                            <td>120</td>
                            <td><span class="badge badge-info">Activo</span></td>
                            <td>
                                <button class="btn btn-primary btn-sm">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                                <button class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><img style="height:60px ;" src="https://images.unsplash.com/photo-1527864550417-7fd91fc51a46?w=300" class="rounded mx-auto d-block" /></td>
                            <td>12312312</td>
                            <td>Marca 2</td>
                            <td>Descripcion 2</td>
                            <td>Categoria 2</td>
                            <td>100</td>
                            <td>140</td>
                            <td><span class="badge badge-danger">No Activo</span></td>
                            <td>
                                <button class="btn btn-primary btn-sm">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                                <button class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--  Modal-->
<div class="modal fade" id="modalData" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6>Detalle Producto</h6>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close" onclick="JavaScript:$('#modalData').modal('hide');">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" value="0" id="txtId">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="txtCodigoBarra">Codigo Barra</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtCodigoBarra" name="Codigo Barra" onkeypress="return permite(event, 'num')" minlength="13" maxlength="13">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtMarca">Marca</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtMarca" name="Marca" onkeypress="return permite(event, 'num_car')">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-12">
                                    <label for="txtDescripcion">Descripcion</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtDescripcion" name="Descripcion" onkeypress="return permite(event, 'num_car')">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="cboCategoria">Categoria</label>
                                    <select class="form-control form-control-sm" id="cboCategoria">
                                        @*<option value="0">seleccionar</option>*@
                                    </select>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtStock">Stock</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtStock" name="Stock" onkeypress="return permite(event, 'num')">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="txtPrecio">Precio</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtPrecio" name="Precio" onkeypress="return permite(event, 'num')">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="cboEstado">Estado</label>
                                    <select class="form-control form-control-sm" id="cboEstado">
                                        <option value="1">Activo</option>
                                        <option value="0">No Activo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="txtImagen">Imagen</label>
                                    <input class="form-control-file" type="file" id="txtImagen" accept="image/*" onchange="convertToBase64Img();" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            @*<img id="imgProducto" style="max-width:200px;" src="https://images.unsplash.com/photo-1527864550417-7fd91fc51a46?w=300" class="rounded mx-auto d-block" alt="...">*@
                            <img id="imgProducto" style="max-width:200px;" class="rounded mx-auto d-block" alt="...">
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">                
                <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal" onclick="JavaScript:$('#modalData').modal('hide');">Cancelar</button>
                <button class="btn btn-primary btn-sm" type="button" id="btnGuardar">Guardar</button>
            </div>
        </div>
    </div>
</div>

                            
@section Scripts {
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>

    <script src="~/js/vistas/Producto_Index.js"></script>

    <!-- SOLO ES DE EJEMPLO - IGNORAR -->
    @*<script src="~/js/vistas/datatables-demo.js"></script>*@
}