
@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action("Index", "DashBoardController1")">Panel</a></li>
    </ol>
</nav>

<div class="row" >
    <div class="col-md-11 text-center">
        <h1 style="color: #3385d9">Panel</h1>
    </div>
    <div class="col-md-12 text-center">
        <hr style="width: auto; height: 3px; background: #3385d9">
    </div>
</div>
<!-- Content Row -->
<div class="row">

    <!-- Total de ventas -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Total de Ventas
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="totalVenta">30</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-shopping-basket fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Total de Ingresos -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Total de Ingresos
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="totalIngresos">$215,000</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Total de Productos -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Total de Productos
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="totalProductos">50</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Total de Categorias -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Total de Categorias
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="totalCategorias">18</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-tags fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->

<div class="row">

    <!-- Area Chart - Ventas de los ultimos 7 días -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 bg-second-primary">
                <h6 class="m-0 font-weight-bold text-white">Ventas de los ultimos 7 días</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area" style="height: 350px !important;">
                    <canvas id="chartVentas"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Pie Chart - Productos más vendidos-->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 bg-second-primary">
                <h6 class="m-0 font-weight-bold text-white">Productos más vendidos</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie" style="height: 350px !important ;">
                    <canvas id="chartProductos"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/vendor/chart.js/Chart.min.js"></script>
    <script src="~/js/vistas/DashBoard_Index.js"></script>
    <!-- SOLO ES DE EJEMPLO - IGNORAR -->
    @*<script src="~/js/vistas/chart-bar-demo.js"></script>*@
    @*<script src="~/js/vistas/chart-pie-demo.js"></script>*@
    
}