
@{
    ViewData["Title"] = "Historial Venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos {
    <link href="~/vendor/jquery-ui/jquery-ui.css" rel="stylesheet">
}

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Ventas</li>
        <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action("Contact", "Contacto")">Historial de ventas</a></li>
    </ol>
</nav>

<div class="card shadow mb-4">
    <div class="card-header py-3 bg-second-primary">
        <h6 class="m-0 font-weight-bold text-white">Historial de Venta</h6>
    </div>
    <div class="card-body">
        <div class="form-row align-items-end">
            <div class="form-group col-sm-3">
                <label for="cboBuscarPor">Buscar por</label>
                <select class="form-control form-control-sm" id="cboBuscarPor">
                    <option value="fecha">Fechas</option>
                    <option value="numero">Numero Venta</option>
                </select>
            </div>
            <div class="form-group col-sm-3 busqueda-fecha">
                <label for="txtFechaInicio">Fecha Inicio</label>
                <input type="text" class="form-control form-control-sm" id="txtFechaInicio">
            </div>
            <div class="form-group col-sm-3 busqueda-fecha">
                <label for="txtFechaFin">Fecha Fin</label>
                <input type="text" class="form-control form-control-sm" id="txtFechaFin">
            </div>
            <div class="form-group col-sm-3 busqueda-venta">
                <label for="txtNumeroVenta">Numero Venta</label>
                <input type="text" class="form-control form-control-sm" id="txtNumeroVenta">
            </div>
            <div class="form-group col-sm-3">
                <button class="btn btn-success btn-block btn-sm" type="button" id="btnBuscar"><i class="fas fa-search"></i> Buscar</button>
            </div>
        </div>

        <hr />
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-sm table-striped" id="tbventa">
                    <thead>
                        <tr>
                            <th>Fecha Registro</th>
                            <th>Numero Venta</th>
                            <th>Tipo Documento</th>
                            <th>Documento Cliente</th>
                            <th>Nombre Cliente</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>27/04/2022</td>
                            <td>00001</td>
                            <td>Boleta</td>
                            <td>101010</td>
                            <td>jose</td>
                            <td>2000</td>
                            <td><button class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalData"><i class="fas fa-eye"></i> Ver Detalle</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<!--  Modal-->
<div class="modal fade" id="modalData" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6>Detalle Venta</h6>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-row">
                                <div class="form-group col-sm-4">
                                    <label for="txtFechaRegistro">Fecha Registro</label>
                                    <input type="text" class="form-control form-control-sm" id="txtFechaRegistro" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtNumVenta">Numero Venta</label>
                                    <input type="text" class="form-control form-control-sm" id="txtNumVenta" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtUsuarioRegistro">Usuario Registro</label>
                                    <input type="text" class="form-control form-control-sm" id="txtUsuarioRegistro" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-4">
                                    <label for="txtTipoDocumento">Tipo Documento</label>
                                    <input type="text" class="form-control form-control-sm" id="txtTipoDocumento" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtDocumentoCliente">Documento Cliente</label>
                                    <input type="text" class="form-control form-control-sm" id="txtDocumentoCliente" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtNombreCliente">Nombre Cliente</label>
                                    <input type="text" class="form-control form-control-sm" id="txtNombreCliente" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-4">
                                    <label for="txtSubTotal">Sub Total</label>
                                    <input type="text" class="form-control form-control-sm" id="txtSubTotal" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtIGV">IGV</label>
                                    <input type="text" class="form-control form-control-sm" id="txtIGV" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtTotal">Total</label>
                                    <input type="text" class="form-control form-control-sm" id="txtTotal" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="tbProductos" class="table table-sm table-striped">
                                        <thead>
                                            <tr>
                                                <th>Producto</th>
                                                <th>Cantidad</th>
                                                <th>Precio</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary btn-sm" target="_blank" id="linkImprimir">Imprimir</a>
                <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/vendor/jquery-ui/jquery-ui.js"></script>
    <script src="~/vendor/jquery-ui/idioma/datepicker-es.js"></script>
    <script src="~/js/vistas/Historial_Ventas.js"></script>
}